@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0F172A;
  --surface: #1E293B;
  --accent: #E11D48;
  --text-light: #F8FAFC;
  --muted: #94A3B8;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--text-light);
}
